# pdfs too large for github 
*.pdf
*.sas7bitm

*.mht

# Data folders
*/05_Results/*
*/03_data/*
*/04 Data Raw/*
*.sas7bdat
*/04_data/*
*/04 data/*
*/data_boot_processed/*
*/data/*

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
05 reports/Copy of ISP_outPCMP_20220606.xlsx
05 reports/Copy of ISP_outPCMP_20220606_kwtoes.xlsx
05 reports/Copy of ISP_outPCMP_20220606_kwtoes.xlsx
05 reports/ISP_attrib_months_20220817.xlsx
05 reports/MonthlyAttr_ISP_v_NonISP_20220913.xlsx
05_results/Copy of ISP_outPCMP_20220606.xlsx
05_results/Copy of ISP_outPCMP_20220606_kwtoes.xlsx
05_results/ISP_attrib_months_20220817.xlsx
05_results/MonthlyAttr_ISP_v_NonISP_20220913.xlsx
05 reports/Copy of ISP_outPCMP_20220606.xlsx
05 reports/Copy of ISP_outPCMP_20220606_kwtoes.xlsx
*.csv
*.xlsx
*.lck
reports/eda_freq_20230329.pdf
reports/eda_freqs_20230329.pdf
code/util_cost_pc_abr_20230330.pdf
*.mht
reports/_@rchive/eda_freq_20230329.pdf
reports/_@rchive/eda_freqs_20230329.pdf
reports/eda_freq_20230330.pdf
reports/test_avp_20230328.mht
reports/eda_freq_20230330.pdf
*.pdf
*.mht
*.mht
*.pdf
reports/test_avp_20230328.mht
reports/eda_freq_20230330.pdf
reports/eda_freq_20230330.pdf
reports/test_avp_20230328.mht
